/* Error: Undefined variable.
 *   ,
 * 5 | @each $name, $value in var.$spacing-values {
 *   |                        ^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/base/_spacing.scss 5:24  @use
 *   src/base/index.scss 5:1      @use
 *   src/clara.scss 16:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502  @each $name, $value in var.$spacing-values {\a   \2502                         ^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/base/_spacing.scss 5:24  @use\a   src/base/index.scss 5:1      @use\a   src/clara.scss 16:1          root stylesheet";
}
