/* Error: Undefined variable.
 *    ,
 * 16 | $font-size-xs: map.get($font-sizes, 'xs') !default;
 *    |                        ^^^^^^^^^^^
 *    '
 *   src/variables/_typography.scss 16:24  @forward
 *   src/variables/index.scss 2:1          @use
 *   src/clara.scss 2:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 16 \2502  $font-size-xs: map.get($font-sizes, 'xs') !default;\a    \2502                         ^^^^^^^^^^^\a    \2575 \a   src/variables/_typography.scss 16:24  @forward\a   src/variables/index.scss 2:1          @use\a   src/clara.scss 2:1                    root stylesheet";
}
