@use '../variables' as var;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var.$font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  color: var.$text-color;
  background-color: var.$background-color;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input, textarea, select {
  font: inherit;
}