@use 'sass:map';
@use 'sass:color';

$colors: (
    'primary': #c78c06,
    'secondary': #ffe6ac,
    'dark': #252525,
    'light': #ebe8e2
);

$primary-color: map.get($colors, 'primary');
$secondary-color: map.get($colors, 'secondary');
$dark-color: map.get($colors, 'dark');
$light-color: map.get($colors, 'light');

$text-color: $dark-color;
$background-color: #ffffff;
$border-color: color.adjust($dark-color, $lightness: 60%);
