@use 'sass:map';
@use '../fonts/' as fonts;
@use './_colors' as colors;
@use './_sizing' as sizing;

$font-family-base: $font-lato;     
$font-family-heading: $font-karla; 

// sizing
$my-value: $spacing-md;

